:root {
  --brightness: 100%;
  --contrast: 100%;
  --saturation: 100%;
  --hue: 0deg;
  --blur: 0px;
}

body {
  display: flex;
}

.image,
.range-bars {
  width: 40%;
  padding: 20px;
  font-family: arial;
  font-size: 2rem;
}

.bar {
  display: block;
  width: 90%;
  margin: 20px auto;
}

.image {
  filter: 
  brightness(var(--brightness))
  contrast(var(--contrast))
  saturate(var(--saturation)) 
  hue-rotate(var(--hue))
  blur(var(--blur));
}
